{% extends "layout.html" %}
{% block content %}
    <div class="content-section">

        <form method="POST" action="itemAction">
            <legend class="border-bottom mb-4">Items</legend>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {% for post in posts %}
                    <h5>
                        <u>
                            <strong>{{post.User.username}}</strong><small> [{{dateConversion(post.User.dateAdded)}}]</small>
                        </u>
                        <br>
                        {{ form.box(value=post.Items.iid)}} {{ post.Items.item }}
                    </h5>
                    <br>
                {% endfor %}
            </div>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add an Item</legend>
                <div class="form-group">

                    {% if form.text.errors %}
                        {{ form.text(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.text.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.text(class="form-control form-control-lg") }}
                    {% endif %} 
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submitAdd(class="btn btn-outline-info") }} 
                {{ form.submitDel(class="btn btn-outline-info") }} 
            </div>
        </form>

{% endblock content %}